<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navigation-section" th:remove="tag">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary  py-3">
        <div class="container">
            <a class="navbar-brand fw-bold" th:href="${#authorization.expression('isAuthenticated()')} ? @{/index} : @{/}">
                <i class="bi bi-book-half"></i> BookTracker
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navMain">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/index}"><i class="bi bi-grid"></i> My Library</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/index/new}"><i class="bi bi-plus-lg"></i> Add Book</a>
                    </li>

                    <li class="nav-item ms-lg-3" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-light border-0 rounded-pill fw-semibold me-2" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item ms-2" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-light px-4 rounded-pill fw-bold" th:href="@{/register}">Sign Up</a>
                    </li>

                    <li class="nav-item ms-lg-3" sec:authorize="isAuthenticated()">
                        <div class="d-flex align-items-center bg-white bg-opacity-10 px-3 py-1 rounded-pill border border-white border-opacity-25">
                            <div class="text-white me-3">
                                <span class="small fw-bold" th:text="${#authentication.name}">Username</span>
                                <span th:if="${#authentication.name == 'guest'}"
                                      class="ms-1 opacity-75 fw-light" style="font-size: 0.75rem;">
                                    (Demo Mode)
                                </span>
                            </div>
                        <form th:action="@{/logout}" method="post" class="m-0">
                            <button type="submit" class="btn btn-link nav-link border-0 fw-medium p-0"
                            style="text-decoration: none;">
                                <i class="bi bi-box-arrow-right me-1"></i> Logout
                            </button>
                        </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>