<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::header-section(title='Edit Book')}">
</head>
<body>
<!-- Nav Bar -->
<div th:replace="~{fragments/navigation::navigation-section}"/>

<div class="card shadow-sm mt-4">
    <div class="card-body">
        <h3 class="text-center mb-4">Edit Book</h3>
    </div>
    <div class="container">
        <form th:action="@{/index/edit}" th:object="${book}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required="true" th:field="*{title}">
                <div th:if="${#fields.hasErrors('title')}" class="text-danger">
                    <p th:errors="*{title}">Invalid title</p>
                </div>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author" required="true" th:field="*{author}">
                <div th:if="${#fields.hasErrors('author')}" class="text-danger">
                    <p th:errors="*{author}">Invalid author</p>
                </div>
            </div>
            <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <select class="form-select" id="genre" name="genre" th:field="*{genre}">
                    <option value="" disabled selected>Select a genre...</option>
                    <option th:each="genreOpt : ${T(com.BookTracker.book_tracker.model.Genre).values()}"
                            th:value="${genreOpt}"
                            th:text="${genreOpt.displayName}"></option>
                </select>
                <div th:if="${#fields.hasErrors('genre')}" class="text-danger">
                    <p th:errors="*{genre}">Invalid genre</p>
                </div>
            </div>

            <div class="mb-3">
                <label for="finishDate" class="form-label">Finished Date</label>
                <input type="date" class="form-control" id="finishDate" name="finishDate" th:field="*{finishDate} ">
                <div th:if="${#fields.hasErrors('finishDate')}" class="text-danger">
                    <p th:errors="*{finishDate}">Invalid date</p>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Score</label>
                <input type="hidden" th:field="*{score}" id="score">
                <div id="star-container">
                    <span th:each="i : ${#numbers.sequence(1, 5)}"
                          class="star"
                          th:data-value="${i}"
                          th:classappend="${book.score != null and i <= book.score} ? 'selected' : ''">★</span>
                </div>
                <div th:if="${#fields.hasErrors('score')}" class="text-danger">
                    <p th:errors="*{score}">Invalid score</p>
                </div>
            </div>
            <div class="mb-3">
                <label for="review" class="form-label">Review</label>
                <input type="text" class="form-control" id="review" name="review" th:field="*{review}">
                <div th:if="${#fields.hasErrors('review')}" class="text-danger">
                    <p th:errors="*{review}">Invalid review</p>
                </div>
            </div>
            <div class="text-center mb-3">
                <a th:href="@{/index}" class="btn btn-danger btn-small">Return</a>
                <button type="submit" class="btn btn-warning btn-small me-3">Edit</button>
            </div>
        </form>
    </div>
</div>
<!-- Script para manejar las estrellas -->
<script th:src="@{/js/stars.js}"></script>

<!--footer -->
<div th:replace="~{fragments/footer::footer-section}"/>
</body>
</html>